.App {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-y: scroll;
}

.ColumnDropContainer {
  height: auto;
  min-width: 20px;
  margin: 5px 0 0;
}

button {
  background: none;
  border-radius: 0;
}