@media (min-width: 1110px) {
  .DayPickerContanier {
    right: calc(50% - 250px - 270px - 5px);
  }
}

@media (min-width: 576px) and (max-width: 1109px) {
  .DayPickerContanier {
    left: calc(50% - 35vw);
  }
}

@media (max-width: 575px) {
  .DayPickerContanier {
    left: 0%;
  }
}

@media (min-height: 1000px) {
  .DayPickerContanier {
    top: calc(50% + 15vh - 300px);
  }
}

@media (max-height: 999px) {
  .DayPickerContanier {
    top: calc(50% + 40vh - 300px);
  }
}


.DayPickerContanier {
  width: 270px;
  height: 300px;
  position: fixed;
  z-index: 3;
  background-color: ivory;
  border: 1px solid black;
  box-sizing: border-box;
}

.DeadlinePickerContainer {
  text-align: center;
  height: 100%;
  width: 100%;
}

.DatePickerBtn {
  height: 100%;
  width: 100%;
  font-size: 1em;
}

.DatePickerBtn:hover {
  cursor: pointer;
}

.CloseMenuBtn {
  float: right;
  padding: 5px;
}

.CloseMenuBtn:hover{
  background-color: lightgray;
  border-radius: 50%;
  cursor: pointer;
}