.DescriptionContainer {
  width: 100%;
  height: 100%;
}

.DescriptionContainer textarea {
  margin: 0;
  padding: 5px;
  width: 100%;
  height: 100%;
  resize: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica;
  font-size: 1em;
}

.DetailDescription a {
  background-color: white;
  display: inline-block;
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid silver;
  white-space: pre-wrap;
}

.DetailDescription a:hover {
  background-color: lightgray;
}
