@media (min-width: 768px) {
  .CardDetail {
    width: 500px;
    right: calc(50% - 250px);
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .CardDetail {
    width: 70vw;
    right: calc(50% - 35vw);
  }
}

@media (max-width: 575px) {
  .CardDetail {
    width: 100%;
    left: 0;
  }
}

@media (min-height: 1000px) {
  .CardDetail{
    height: 60vh;
    top: calc(50% - 45vh);
  }
}

@media (max-height: 999px) {
  .CardDetail{
    height: 80vh;
    top: calc(50% - 40vh);
  }
}

.CardDetail {

    overflow: auto;
    position: fixed;
    background-color: white;
    z-index: 2;
    padding: 0 15px;
    border: 1px solid #4d4d4d;
    box-sizing: border-box;
  }


.Outside {
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: lightgray;
  opacity: 70%;
  z-index: 1;
}

.DetailTitle {
  margin: 0 0 15px;
  width: 100%;
  height: 10%;
}

.DetailDescription {
  margin: 0 0 15px;
  width: 100%;
  height: 60%;
}

.DetailDeadline {
  margin: 0 0 10px;
  height: 8%;
  width: 100%;
}

.DetailLabel {
  margin: 0 -15px 10px;
  height: 9%;
  width: auto;
}