.TaskCard {
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  margin: 0px;
  padding: 10px;
}

.TaskCard:hover {
  cursor: pointer;
}

.CardLabel{
  height: 5px;
  width: 100%;
  float: top;
}
