.TitleContainer {
  position: relative;
}

.TitleContainer input[type=text] {
  font-size: 1em;
  margin: 10px 0;
  padding: 3px;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}

.TitleContainer a {
  display: inline-block;
  text-decoration: none;
  color: black;
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  height: 100%;
  border: 1px solid silver;
}

.TitleContainer a:hover {
  background-color: lightgray;
}
