.TaskColumnContainer {
  align-self: flex-start;
  padding: 0px 10px 0px 10px;
  margin: 10px 0;
  border-width: 1px;
  border-style: solid;
  min-width: 200px;
}

.DropSpaceContainer {
  min-width: 20px;
  height: 1.5em;
}

.ColumnDragBar{
  width: auto;
  height: 15px;
  padding: 0;
  margin: 0 -10px;
  background-color: lightgray;
  position: relative;
  border: 0;
}

.ColumnDragBar:hover{
  cursor: grab;
}

.ColumnDragBar hr {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 1px;
  margin: 0;
  border:0;
  border-bottom: 1px solid black;
}