.TextInput {
  overflow-wrap: break-word;
  word-break: break-all;
  position: relative;
  margin-block-start: calc(1.33em - 5px);
  margin-block-end: calc(1.33em - 5px);
  margin-inline-start: -5px;
  margin-inline-end: -5px;
  font-weight: bold;
  border: 0;
  padding: 5px;
  font-size: 1em;
}

.title {  
  position: relative;
  display: inline-block;
}

.editBtn {
  position: absolute;
  top: 30%;
  left: 85%;
  padding: 4px 8px;
  cursor: pointer;
}