.ColorContainer {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  position: relative;
  text-align: center;
}

.ColorField{
  width: 100%;
  height: 100%;
  position: relative;
  border-bottom: 1px solid #4d4d4d;
}

.ColorIcon {
  color: black;
}

.ColorBtn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: ivory;
  border: 0;
  border-left: 1px solid #4d4d4d;
  width: 40px;
  box-sizing: border-box;
}

.ColorBtn:hover {
  cursor: pointer;
}

.ColorBtn:focus {
  outline: 1px solid #4d4d4d;
}

