@media (min-width: 910px) {
  .ColorPickerContainer{
    right: calc(50% - 250px - 200px - 5px);
    top: calc(50% - 40vh);
  }
}

@media (min-width: 576px) and (max-width: 909px) {
  .ColorPickerContainer{
    right: calc(50% + 17.5vw - 100px);
    top: calc(50% - 40vh);
  }
}

@media (max-width: 575px) {
  .ColorPickerContainer{
    left: 0%;
    top: calc(50% - 40vh);
  }
}

.ColorPickerContainer{
  width: 200px;
  height: auto;
  position: fixed;
  background-color: ivory;  
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #4d4d4d;
  z-index: 3;
  padding-bottom: 10px;
}

.ColorItem{
  box-sizing: border-box;
  width: auto;
  height: 30px;
  margin: 10px 5px 0 5px;
  border: 1px solid;
  transition: border 0.01s;
  position: relative;
}

.ColorItem:hover {
  border: 2px solid;
  cursor: pointer;
}

.SelectedColor {
  position: absolute;
  top: 25%;
  right: 45%;
}