.AddCardContainer {
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  border: 2px;
  border-radius: 10px;
  border-style: solid;
}

.AddCardContainer:hover {
  cursor: pointer;
  background-color: lightgray;
}

.InputContainer{
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  border: 2px;
  border-style: solid;
}

.AddIcon {
  position: absolute;
  left: 10%;
  top: 15%;
  font-size: 1.1em;
}

.CardInput {
  width: 90%;
    outline: none;
    border: 0;
    margin: -5px -10px;
    font-size: 1em;
}

.ButtonContainer{
  position: relative;
  margin-top: 5px;
  margin-bottom: 10px;
}

.SaveBtn{
  position: relative;
  padding: 5px;
  border-radius: 0;
  background: none;
  cursor: pointer;
}

.CancelBtn {
  position: absolute;
  padding: 5px;
  right: 0%;
  top: 0%;
  border-radius: 0;
  background: none;
  cursor: pointer;
}

button{
  font-size: .75em;
}

button:hover {
  background-color: lightgray;
}