.AddColumnContainer {
  align-self: flex-start;
  margin: 10px 0;
  min-width: 200px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.AddColumnDisplayContainer {
  position: relative;
  padding: 5px 0;
  border-radius: 10px;
  border: 2px solid black;  
}

.AddColumnDisplayContainer:hover {
  cursor: pointer;
  background-color: lightgray;
}

.AddColumnIcon {
  position: absolute;
  left: 10%;
  top: 15%;
  font-size: 1.1em;
}

.AddColumnInputContainer {
  text-align: center;
  position: relative;
  padding: 5px 0;
  border: 2px solid black;  
  border-radius: 10px;
}

.AddColumnInputContainer input {
  outline: none;
  font-size: 1em;
  border: 0;
  padding: 0 10px;
  box-sizing: border-box;
}

.AddColumnInputContainer input:focus {
  border-radius: 10px;
  outline: 0;
}

.AddColumnButtonContainer {
  position: relative;
  text-align: start;
  margin: 5px 0 0;
}

.AddColumnBtn{
  position: relative;
  padding: 5px;
  cursor: pointer;
}

.CancelAddColumnBtn {
  position: absolute;
  padding: 5px;
  right: 0%;
  top: 0%;
  cursor: pointer;
}