.OutsideBox{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.DropBin {
  position: fixed;
  left: calc(50% - 25px);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: DropBinAnimation;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes DropBinAnimation {
  0% {bottom: 0; opacity: 0.2;}
  20% {bottom: 2%; opacity: 0.4;}
  40% {bottom: 4%; opacity: 0.6;}
  60% {bottom: 6%; opacity: 0.8;}
  80% {bottom: 8%; opacity: 0.9;}
  100% {bottom: 10%; opacity: 1;}
}

.DialogBox {
  position: fixed;
  top: calc(50% - 50px);
  right: calc(50% - 125px);
  z-index: 2;
  height: 100px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  background-color: whitesmoke;
}

.ConfirmBtnContainer{
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.ErrorBtnContainer {
  display: flex;
  justify-content: center;
  width: 70%;
}
